################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hackaton_ProjetX/Hackaton_ProjetX/Hackaton_ProjetX/bin/Debug/netstandard2.0
